<section class="services">
  <h1>{{ "SERVICES_PAGE.TITLE" | translate }}</h1>
  <p class="subtitle">{{ "SERVICES_PAGE.SUBTITLE" | translate }}</p>

  <div class="services-grid">
    <!-- ŠIŠANJE -->
    <div class="service-card">
      <img
        src="assets/icons/scissors.png"
        [attr.alt]="'SERVICES_PAGE.HAIRCUT' | translate"
      />
      <h3>{{ "SERVICES_PAGE.HAIRCUT" | translate }}</h3>
      <p>{{ "SERVICES_PAGE.HAIRCUT_DESC" | translate }}</p>
    </div>

    <!-- BRIJANJE -->
    <div class="service-card">
      <img
        src="assets/icons/razor.png"
        [attr.alt]="'SERVICES_PAGE.SHAVE' | translate"
      />
      <h3>{{ "SERVICES_PAGE.SHAVE" | translate }}</h3>
      <p>{{ "SERVICES_PAGE.SHAVE_DESC" | translate }}</p>
    </div>

    <!-- STILIZOVANJE -->
    <div class="service-card">
      <img
        src="assets/icons/hairdress.png"
        [attr.alt]="'SERVICES_PAGE.STYLING' | translate"
      />
      <h3>{{ "SERVICES_PAGE.STYLING" | translate }}</h3>
      <p>{{ "SERVICES_PAGE.STYLING_DESC" | translate }}</p>
    </div>

    <!-- TRIMOVANJE -->
    <div class="service-card">
      <img
        src="assets/icons/electric-razor.png"
        [attr.alt]="'SERVICES_PAGE.TRIM' | translate"
      />
      <h3>{{ "SERVICES_PAGE.TRIM" | translate }}</h3>
      <p>{{ "SERVICES_PAGE.TRIM_DESC" | translate }}</p>
    </div>
  </div>
</section>
