<div class="hero-wrapper">
  <section class="hero">
    <div class="hero-overlay"></div>
    <div class="hero-content">
      <img
        src="assets/images/logoNoBg.png"
        alt="Hairstyle Vidaković Logo"
        class="hero-logo"
        loading="eager"
      />

      <p>Rezervišite termin brzo i jednostavno</p>
      <button
        mat-raised-button
        color="primary"
        class="cta-button"
        routerLink="/booking"
      >
        Zakaži termin
      </button>
    </div>
  </section>
</div>
