<footer class="footer">
  <div class="footer-content">
    <div>
      <h3>{{ "FOOTER.CONTACT_TITLE" | translate }}</h3>
      <p>{{ "CONTACT.PHONE" | translate }}</p>
      <p>{{ "CONTACT.EMAIL" | translate }}</p>
    </div>
    <div>
      <h3>{{ "FOOTER.HOURS_TITLE" | translate }}</h3>
      <p>{{ "FOOTER.MON_FRI" | translate }}</p>
      <p>{{ "FOOTER.SUN_MON" | translate }}</p>
    </div>
    <div>
      <h3>{{ "FOOTER.LOCATION_TITLE" | translate }}</h3>
      <p>{{ "CONTACT.ADDRESS" | translate }}</p>
    </div>
  </div>
  <div class="footer-bottom">{{ "FOOTER.COPYRIGHT" | translate }}</div>
</footer>
