<div class="booking-page">
  <div class="booking-card">
    <h2>Zakaži termin</h2>

    <!-- DATUM -->
    <p class="step-instruction">Izaberi datum</p>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Datum</mat-label>
      <mat-select [(value)]="selectedDate" panelClass="date-dropdown-panel">
        <mat-option *ngFor="let date of nextDates" [value]="date">
          {{ date | date : "EEEE, dd.MM.yyyy" }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- TERMINI -->
    <p class="step-instruction">Odaberite termin</p>
    <div class="time-grid">
      <button
        mat-stroked-button
        *ngFor="let time of times"
        (click)="selectTime(time)"
        [class.active]="selectedTime === time"
      >
        {{ time }}
      </button>
    </div>

    <!-- USLUGE -->
    <div class="services-box">
      <p class="services-title">Šta planiraš? <span>(opciono)</span></p>
      <mat-checkbox
        *ngFor="let service of services"
        (change)="toggleService(service)"
        [checked]="selectedServices.includes(service)"
        class="white-checkbox"
      >
        {{ service }}
      </mat-checkbox>
    </div>

    <!-- PODACI -->
    <mat-form-field appearance="fill" class="full-width custom-input">
      <mat-label>Ime</mat-label>
      <input matInput [(ngModel)]="name" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width custom-input">
      <mat-label>Telefon</mat-label>
      <input matInput [(ngModel)]="phone" />
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      class="full-width"
      (click)="submitBooking()"
      [disabled]="!selectedTime || !name || !phone"
    >
      Završi
    </button>
  </div>
</div>
