<div class="booking-page">
  <div class="booking-card">
    <h2>Zakaži termin</h2>

    <!-- DATUM -->
    <p class="step-instruction">Izaberi datum</p>
    <select
      [(ngModel)]="selectedDate"
      (change)="onDateChange()"
      class="date-dropdown"
    >
      <option *ngFor="let date of availableDates" [ngValue]="date">
        {{ date | date: "EEEE, dd.MM.yyyy" }}
      </option>
    </select>

    <!-- TERMINI -->
    <p class="step-instruction">Odaberite termin</p>
    <div class="time-grid">
      <button
        *ngFor="let time of allTimes"
        (click)="!isTimeBooked(time) && selectTime(time)"
        [disabled]="isTimeBooked(time)"
        [class.active]="selectedTime === time"
        [class.booked]="isTimeBooked(time)"
      >
        {{ time }}
      </button>
    </div>

    <!-- USLUGE -->
    <div class="services-box">
      <p class="services-title">Koje usluge zelis? <span>(opciono)</span></p>
      <div class="checkboxes">
        <label *ngFor="let service of services">
          <input
            type="checkbox"
            [checked]="service.selected"
            (change)="toggleService(service)"
          />
          <span>{{ service.label }}</span>
        </label>
      </div>
    </div>

    <!-- PODACI -->
    <input
      type="text"
      placeholder="Ime"
      [(ngModel)]="name"
      class="custom-input"
    />
    <input
      type="text"
      placeholder="Telefon"
      [(ngModel)]="phone"
      class="custom-input"
    />
    <input
      type="email"
      placeholder="Email"
      [(ngModel)]="email"
      class="custom-input"
    />

    <button
      class="full-width submit-btn"
      (click)="submitBooking()"
      [disabled]="
        !selectedTime || !name || !phone || !email || !isValidEmail(email)
      "
    >
      Završi
    </button>
  </div>
</div>
