<section class="contact">
  <div class="map-wrapper">
    <div class="map">
      <iframe
        src="https://www.google.com/maps?q=Banja%20Luka&output=embed"
        loading="lazy"
      >
      </iframe>
    </div>
  </div>

  <!-- INFO -->
  <div class="info">
    <div class="block fade-in">
      <h3>Kontakt</h3>
      <p>📞 +387 61 123 456</p>
      <p>✉️ {{ "info@barbershop.ba" }}</p>
      <p>📍 Ulica Frizerska 12, Banja Luka</p>
    </div>

    <div class="block fade-in">
      <h3>Radno vrijeme</h3>
      <p>Pon – Pet: 09:00 – 18:00</p>
      <p>Subota: 09:00 – 15:00</p>
      <p>Nedjelja: Zatvoreno</p>
    </div>
  </div>
</section>
