* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  /* Ova boja mora biti ista kao tvoj overlay ili najtamniji dio slike */
  background-color: #0c0c0c !important;

  /* Sprečava onaj gumeni skok cijele stranice na iOS-u */
  overscroll-behavior-y: none;

  /* Osigurava da je visina uvijek 100% */
  height: 100%;
  width: 100%;
}
