* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  /* Boja koja "viri" kad se skroluje preko ivica */
  background-color: #0c0c0c !important;
  height: 100%;
  /* Vrati ovo na auto ili skroz obriši da dozvoliš prirodan bounce */
  overscroll-behavior-y: auto;
}

body {
  margin: 0;
  padding: 0;
  background-color: #0c0c0c !important;
  /* Veoma bitno za mobilni Safari/Chrome momentum skrol */
  -webkit-overflow-scrolling: touch;
  width: 100%;
  min-height: 100%;
}
