* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background-color: #0c0c0c !important;
  /* Dodajemo ovo da popravi visinu na mobilnom */
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #0c0c0c !important;
  width: 100%;
  /* MIN, a ne fiksni height */
  min-height: 100vh;
  min-height: -webkit-fill-available;
}
